@model TabloidMVC.Models.ViewModels.CommentPostViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Comments</h1>

<div>
    
    <h4>@Model.Post.Title</h4>
    
        @foreach (var comment in Model.Comments)
        {
            <div class="border col-lg-12">
                <h5>@comment.Subject</h5>
                <div>@comment.User.DisplayName <div>@comment.CreateDateTime</div></div>
                <p>@comment.Content</p>
            </div>
        }
   
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    <a asp-controller="Post" asp-route-id="@Model.Post.Id" asp-action="Details">Back to Post</a>
</div>
