@model TabloidMVC.Models.ViewModels.CommentPostViewModel

@{
    ViewData["Title"] = "Details";
}



<div class="container pt-5">
    <h1>Comments</h1>


    <table class="table">
        <thead>
            <tr>
                <th>
                    <h4>@Model.Post.Title</h4>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var comment in Model.Comments)
            {
                <tr>
                    <td>
                        <p>@comment.Content</p>
                        @comment.Subject
                    </td>
                    <td>
                        <div>@comment.User.DisplayName <div>@comment.CreateDateTime</div></div>
                        <a asp-action="Edit" asp-route-id="@comment.Id" class="btn btn-outline-primary mx-1" title="Edit">
                            <i class="fas fa-pencil-alt"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <a asp-controller="Post" asp-route-id="@Model.Post.Id" asp-action="Details">Back to Post</a>
    </div>
</div>





